@page "/adminemployee"
@using DATN.Shared
@layout LayoutAdmin
@inject HttpClient httpClient
@inject NavigationManager Navigation

<style>
    .product-table-container {
        max-height: 600px;
        overflow-y: auto;
    }

        .product-table-container table {
            width: 100%;
        }

    .search-bar, .filter-bar {
        margin-bottom: 20px;
    }
</style>

<AuthorizeView Roles="1">
    <Authorized>
        @if (isLoaded)
        {
            <button class="btn btn-success" @onclick="() => CreateEmployee()">Add Employee</button>
            <hr />
            <h4>Account</h4>
            <div class="search-bar">
                <input type="text" class="form-control" placeholder="Search Employee..." @oninput="FilterEmployee" />
            </div>
            <div class="product-table-container">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>EmployeeName</th>
                            <th>Address</th>
                            <th>PhoneNumber</th>
                            <th>Email</th>
                            <th>Position</th>
                            <th>Hiredate</th>
                            <th>Salary</th>
                            <th>IsDelete</th>
                            <th>AccountId</th>
                            <th></th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var employee in listEmployee)
                        {
                            <tr>
                                <td>@employee.EmployeeName</td>
                                <td>@employee.Address</td>
                                <td>@employee.PhoneNumber</td>
                                <td>@employee.Email</td>
                                <td>@employee.Position</td>
                                <td>@employee.HireDate</td>
                                <td>@employee.Salary</td>
                                <td>@employee.IsDeleted</td>
                                <td>@employee.AccountId</td>
                                <td>
                                    <button class="btn btn-primary" @onclick="() => EditEmployee(employee.EmployeeId)">Sửa</button>
                                    <button class="btn btn-danger" @onclick="() => DeleteEmployee(employee.EmployeeId)">Ẩn</button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
        else if (!string.IsNullOrEmpty(errorMessage))
        {
            <p class="text-danger">@errorMessage</p>
        }
        else
        {
            <p>Loading...</p>
        }
    </Authorized>
    <NotAuthorized>
        <h3>Không có quyền truy cập</h3>
    </NotAuthorized>
</AuthorizeView>
