@page "/adminshifte"
@using DATN.Shared
@layout LayoutAdmin
@inject HttpClient httpClient
@inject NavigationManager Navigation

<style>
    .product-table-container {
        max-height: 600px;
        overflow-y: auto;
    }

        .product-table-container table {
            width: 100%;
        }

    .search-bar, .filter-bar {
        margin-bottom: 20px;
    }
</style>

@if (isLoaded)
{
    <div class="col-md-12 row">
        <div class="col-md-6">
            <button class="btn btn-success" @onclick="() => CreateShifte()">Add Shifte</button>
            <hr />
            <h4>Shifte</h4>
            <div class="search-bar">
                <input type="text" class="form-control" placeholder="Search Shifte..." @oninput="Filter" />
            </div>
            <div class="product-table-container">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>ShifteName</th>
                            <th>StartTime</th>
                            <th>EndTime</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in filter)
                        {
                            if (item != null)
                            {
                                <tr>
                                    <td>@item.ShifteName</td>
                                    <td>@item.StartTime.ToString("HH:mm")</td>
                                    <td>@item.EndTime.ToString("HH:mm")</td>
                                    <td class="text-center">
                                        @if (!item.IsDeleted)
                                        {
                                            <button class="btn btn-primary" @onclick="() => EditShifte(item.ShifteId)">Edit</button>
                                            <button class="btn btn-danger" @onclick="() => HideShifte(item.ShifteId)">Hide</button>
                                        }
                                        else
                                        {
                                            <button class="btn btn-warning" @onclick="() => RestoreShifte(item.ShifteId)">Restore</button>
                                        }
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-6">
            <button class="btn btn-success" @onclick="() => CreateEmployeeShifte()">Add EmployeeShifte</button>
            <hr />
            <h4>EmployeeShifte</h4>
            <div class="search-bar">
                <input type="text" class="form-control" placeholder="Search EmployeeShifte..." @oninput="FilterEmployee" />
            </div>
            <div class="product-table-container">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>ShifteDay</th>
                            <th>Employee</th>
                            <th>Shifte</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var itememployee in filteremployee)
                        {
                            if (itememployee != null)
                            {
                                var connectemployee = listEmployee.FirstOrDefault(e => e.EmployeeId == itememployee.EmployeeId);
                                if (connectemployee != null)
                                {
                                    var connectshifte = listShifte.FirstOrDefault(s => s.ShifteId == itememployee.ShifteId);
                                    if (connectshifte != null)
                                    {
                                        <tr>
                                            <td>@itememployee.ShifteDay.ToString("MM/dd/yyyy")</td>
                                            <td>@connectemployee.EmployeeName</td>
                                            <td>@connectshifte.ShifteName</td>
                                            <td class="text-center">
                                                @if (!itememployee.IsDeleted)
                                                {
                                                    <button class="btn btn-primary" @onclick="() => EditEmployeeShifte(itememployee.EmployeeShifteId)">Edit</button>
                                                    <button class="btn btn-danger" @onclick="() => HideEmployeeShifte(itememployee.EmployeeShifteId)">Hide</button>
                                                }
                                                else
                                                {
                                                    <button class="btn btn-warning" @onclick="() => RestoreEmployeeShifte(itememployee.EmployeeShifteId)">Restore</button>
                                                }
                                            </td>
                                        </tr>
                                    }
                                }
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}
else if (!string.IsNullOrEmpty(errorMessage))
{
    <p class="text-danger">@errorMessage</p>
}
else
{
    <p>Loading...</p>
}

