@page "/adminaccount"

@using DATN.Shared
@layout LayoutAdmin
@inject HttpClient httpClient
@inject NavigationManager Navigation

<style>
    .product-table-container {
        max-height: 600px;
        overflow-y: auto;
    }

        .product-table-container table {
            width: 100%;
        }

    .search-bar, .filter-bar {
        margin-bottom: 20px;
    }
</style>

<AuthorizeView Roles="admin">
    <Authorized>
        @if (isLoaded)
        {
            <button class="btn btn-success" @onclick="() => CreateAccount()">Add Account</button>
            <hr />
            <h4>Account</h4>
            <div class="search-bar">
                <input type="text" class="form-control" placeholder="Search Account..." @oninput="FilterAccount" />
            </div>
            <div class="product-table-container">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>AccountType</th>
                            <th>CreateDate</th>
                            <th>UpdateDate</th>
                            <th>UserName</th>
                            <th>Password</th>
                            <th></th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var account in filter)
                        {
                            <tr>
                                <td>@account.AccountType</td>
                                <td>@account.CreateDate</td>
                                <td>@account.UpdateDate</td>
                                <td>@account.Email</td>
                                <td>*****</td>
                                <td>
                                    @if (account.IsActive)
                                    {
                                        <button class="btn btn-primary" @onclick="() => EditAccount(account.AccountId)">Edit</button>
                                        <button class="btn btn-danger" @onclick="() => HideAccount(account.AccountId)">Hide</button>
                                        <button class="btn btn-warning" @onclick="() => UpdateAccount(account.AccountId)">Employee</button>
                                        <button class="btn btn-secondary" @onclick="() => DefaultAccount(account.AccountId)">Customer</button>
                                    }
                                    else
                                    {
                                        <button class="btn btn-warning" @onclick="() => RestoreAccount(account.AccountId)">Restore</button>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
        else if (!string.IsNullOrEmpty(errorMessage))
        {
            <p class="text-danger">@errorMessage</p>
        }
        else
        {
            <p>Loading...</p>
        }
    </Authorized>
    <NotAuthorized>
        <h3>Không có quyền truy cập</h3>
    </NotAuthorized>
</AuthorizeView>