@page "/edittable"
@inject IJSRuntime JS
@inject HttpClient httpClient
@inject NavigationManager Navigation
@layout LayoutAdmin
@inject LocalStorageService _localStorageService


<style>
    .table-card {
        transition: transform 0.2s;
    }

    .table-card:hover {
        transform: scale(1.05);
    }

    .floor-container {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }

    .grid-item {
        cursor: pointer;
        height: auto;
    }

    .floor {
        margin-bottom: 20px;
    }
    .highlight {
        background-color: #ffc107;
        border: 2px solid #ff9800;
    }

</style>

<div class="container my-4">
    <div class="btn-create mb-2">
        <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#CreateModel">Thêm mới bàn</button>
        <button class="btn btn-secondary" @onclick="() => ActivateMoveTable(false)">Chỉnh sửa vị trí bàn</button>
        <button class="btn btn-secondary" @onclick="() => ActivateMoveTable(true)">Đổi vị trí bàn</button>
        <button class="btn btn-secondary" @onclick="SaveTable">Lưu bàn</button>
    </div>
    <div class="form-group">
        <label for="numcol">Số cột bạn muốn</label>
         <input class="form-control" id="numcol" min="1" max="10" type="number" @bind-value="numcol" name="name" />
    </div>

    @if (tables == null || floors == null)
    {
        <p class="text-dark">Loading...</p>
    }
    else
    {
        @foreach (var floor in floors)
        {
            <div class="floor">
                <h3>Floor @floor.NumberFloor</h3>
                <div id="floor-@floor.FloorId" data-floor-id="@floor.FloorId" style="display: grid; grid-template-columns: repeat(@numcol, 1fr); gap: 10px; border: 2px dashed #ccc;" class="sortable position-relative">
                    @foreach (var table in tables.Where(t => t.FloorId == floor.FloorId).OrderBy(t => t.Position))
                    {
                        bool isDuplicatePosition = tables.Any(t => t.FloorId == floor.FloorId && t.TableId != table.TableId && t.Position == table.Position);
                        <div class="m-2 grid-item" 
                             data-id="@table.TableId" 
                             data-position="@table.Position"
                             style="@(isMoveTable ? "col-md-2" : $"grid-column: {GetColumnFromPosition(table.Position)}; grid-row: {GetRowFromPosition(table.Position)};")">
                            <div class="card table-card" 
                                style="background-color:@(isDuplicatePosition ? "red" : "");" 
                                data-bs-toggle="modal"
                                 data-bs-target="#GenQRModel"
                                 @onclick="() => LoadTableForEdit(table.TableId)">
                                <div class="card-body text-center position-relative">
                                    <img src="/images/png/table.png" class="img-fluid" alt="Table Image" style="height: 50px;">
                                    <div class="position-absolute top-0 end-0 fw-bold m-1">
                                        <div class="card bg-light text-dark" style="width: 25px; height: 25px;">
                                            @table.TableNumber
                                        </div>
                                    </div>
                                    <button class="btn btn-outline-primary btn-sm content-btn content-btn-edit"
                                            @onclick="() => LoadTableForEdit(table.TableId)"
                                            data-bs-toggle="modal" data-bs-target="#UpdateModel">
                                        <i class="far fa-edit"></i>
                                    </button>
                                    <button class="btn btn-outline-danger btn-sm content-btn content-btn-trash"
                                            @onclick="() => LoadTableForEdit(table.TableId)"
                                            data-bs-toggle="modal" data-bs-target="#ConfirmDeleteModal">
                                        <i class="fas fa-trash"></i>
                                    </button>
                                    <div class="card m-1 bg-light text-dark" style="width: 100%; height: 25px;">
                                        <div>Hàng: @GetRowFromPosition(table.Position); Cột: @GetColumnFromPosition(table.Position)</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        }
    }
</div>

@* AddTable *@
<div class="modal fade" id="CreateModel" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Thêm mới bàn</h5>
                <button type="button" class="btn btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <EditForm Model="@tableModel" OnValidSubmit="AddTable">
                <DataAnnotationsValidator />
                <div class="modal-body">
                    <div class="form-group">
                        <label for="tableNumber" class="form-label">Số bàn:</label>
                        <InputNumber  class="form-control" min="1" @bind-Value="tableModel.TableNumber" id="tableNumber" name="tableNumber" />
                        <ValidationMessage For="@(() => tableModel.TableNumber)" />
                    </div>
                    <div class="form-group">
                        <label for="row" class="form-label">Chọn hàng</label>
                        <InputSelect class="form-control" @bind-Value="row" id="row" name="row">
                            <option value="0" disabled selected>Chọn hàng</option>
                            @{
                                if(rowCount < 1)
                                {
                                    rowCount = 1;
                                }
                                for (int i = 0; i < rowCount; i++)
                                {
                                    <option value="Hàng @(i + 1)">Hàng @(i + 1)</option>
                                }
                            }
                        </InputSelect>
                    </div>
                    <div class="form-group">
                        <label for="column" class="form-label">Chọn cột</label>
                        <InputSelect class="form-control" @bind-Value="column" id="column" name="column">
                            <option value="0" disabled selected>Chọn cột</option>
                            @for (int i = 0; i <= 5; i++)
                            {
                                <option value="Cột @(i + 1)">Cột @(i + 1)</option>
                            }
                        </InputSelect>
                    </div>

                    <div class="form-group">
                        <label for="seatingCapacity" class="form-label">Sức chứa</label>
                        <InputNumber class="form-control" min="1" @bind-Value="tableModel.SeatingCapacity" id="seatingCapacity" name="seatingCapacity" />
                        <ValidationMessage For="@(() => tableModel.SeatingCapacity)" />
                    </div>
                    <div class="form-group">
                        <label for="FloorId" class="form-label">Số tầng:</label>
                        <InputSelect class="form-control" @bind-Value="tableModel.FloorId" id="FloorId" name="FloorId">
                            @{
                                <option value="0" disabled selected>Chọn tầng</option>
                                foreach (var floor in floors)
                                {
                                    <option value="@floor.FloorId">@floor.NumberFloor</option>
                                }
                            }
                        </InputSelect>
                        <ValidationMessage For="@(() => tableModel.FloorId)" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success">Thêm</button>
                </div>
            </EditForm>
        </div>
    </div>
</div>

@* UpdateTable *@
<div class="modal fade" id="UpdateModel" tabindex="-1" aria-labelledby="UpdateModelLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="UpdateModelLabel">Sửa sản phẩm</h5>
                    <button type="button" class="btn btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <EditForm Model="@tableModel" OnValidSubmit="UpdateTable">
                    <DataAnnotationsValidator />
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="tableNumber" class="form-label">Số bàn:</label>
                            <InputNumber class="form-control" min="1" @bind-Value="tableModel.TableNumber" id="tableNumber" name="tableNumber" />
                            <ValidationMessage For="@(() => tableModel.TableNumber)" />
                        </div>
                        <div class="form-group">
                            <label for="raw" class="form-label">Chọn hàng</label>
                            <InputSelect class="form-control" @bind-Value="row" id="raw" name="raw">
                                <option value="" disabled selected>Chọn hàng</option>
                                @{
                                    for (int i = 0; i < rowCount; i++)
                                    {
                                        <option value="Hàng @(i + 1)">Hàng @(i + 1)</option>
                                    }
                                }
                            </InputSelect>
                        </div>
                        <div class="form-group">
                            <label for="column" class="form-label">Chọn cột</label>
                            <InputSelect class="form-control" @bind-Value="column" id="column" name="column">
                                <option value="" disabled selected>Chọn cột</option>
                                @for (int i = 0; i <= 5; i++)
                                {
                                    <option value="Cột @(i + 1)">Cột @(i + 1)</option>
                                }
                            </InputSelect>
                        </div>
                        <div class="form-group">
                            <label for="Status" class="form-label">Trạng thái</label>
                            <InputSelect class="form-control" @bind-Value="tableModel.Status" id="Status" name="Status">
                                @{
                                    <option value="" disabled selected>Chọn trạng thái</option>
                                    <option value="Bàn trống">Bàn trống</option>
                                    <option value="Đã đặt">Đã đặt</option>
                                    <option value="Đang dùng">Đang dùng</option>

                                }
                            </InputSelect>
                            <ValidationMessage For="@(() => tableModel.FloorId)" />
                        </div>
                        <div class="form-group">
                            <label for="seatingCapacity" class="form-label">Sức chứa</label>
                            <InputNumber class="form-control" min="1" @bind-Value="tableModel.SeatingCapacity" id="seatingCapacity" name="seatingCapacity" />
                            <ValidationMessage For="@(() => tableModel.SeatingCapacity)" />
                        </div>
                        <div class="form-group">
                            <label for="FloorId" class="form-label">Số tầng:</label>
                            <InputSelect class="form-control" @bind-Value="tableModel.FloorId" id="FloorId" name="FloorId">
                                @{
                                    <option value="" disabled selected>Chọn tầng</option>
                                    foreach (var floor in floors)
                                    {
                                        <option value="@floor.FloorId">@floor.NumberFloor</option>
                                    }
                                }
                            </InputSelect>
                            <ValidationMessage For="@(() => tableModel.FloorId)" />
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success">Cập nhật</button>
                    </div>
                </EditForm>
        </div> 
    </div>
</div>

@* Delete *@
<div class="modal fade" id="ConfirmDeleteModal" tabindex="-1" aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmDeleteModalLabel">Xác nhận xóa</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Bạn có chắc chắn muốn xóa cái bàn này không?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
                <button type="button" class="btn btn-danger" @onclick="DeleteTable">Xóa</button>
            </div>
        </div>
    </div>
</div>

@* GenQR *@
<div class="modal fade" id="GenQRModel" tabindex="-1" aria-labelledby="GenQRModelLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Tạo mã QR cho bàn</h5>
                <button type="button" class="btn btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <EditForm Model="@qrModel" OnValidSubmit="GenerateQrCode">
                <DataAnnotationsValidator />
                <div class="modal-body">
                    <div class="form-group" style="display: none">
                        <label for="tableUrl" class="form-label">URL:</label>
                        <InputText @bind-Value="qrModel.Url" class="form-control" id="tableUrl" name="tableUrl" />
                        <ValidationMessage For="@(() => qrModel.Url)" />
                    </div>
                    <div class="form-group">
                        <label for="numberTable" class="form-label">Số bàn</label>
                        <InputNumber @bind-Value="qrModel.NumberTable" class="form-control" id="tableNumber" name="tableNumber" readonly />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success">Tạo</button>
                </div>
            </EditForm>
            <div class="d-flex justify-content-center my-3">
                <div id="qrcode"></div>
            </div>
        </div>
    </div>
</div>
