@page "/accumulatedpoints"

@layout MainLayout
@inject HttpClient httpClient
@inject NavigationManager Navigation
@inject LocalStorageService _localStorageService
@inject IJSRuntime JS

<style>
    .voucher-card {
        border: 1px solid #ddd;
        background-color: #f9f9f9;
        transition: box-shadow 0.3s;
    }

        .voucher-card:hover {
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }

    .icon-badge {
        width: 60px;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #e9f5ff;
    }

    .round input[type="checkbox"] {
        width: 16px;
        height: 16px;
        cursor: pointer;
    }

    .expired {
        font-size: 12px;
    }

</style>

<div class="container mt-5 row">
    <div class="d-flex d-inline-block">
        <div class="align-items-start">
            <a href="/userinfo" class="link-dark fw-semibold">
                <i class="bi bi-box-arrow-left" style="font-size: 20px;"></i>
            </a>
        </div>
        <h5 class="text-center mx-auto mb-4 fw-semibold">Đổi điểm tích lũy</h5>
    </div>

    <div class="point text-end mb-3">
        <img src="/image/Voucher/award.png" alt="Điểm" />Bạn hiện có @customer.TotalRewardPoint điểm
    </div>

    @if (vouchers == null)
    {
        <div class="d-flex flex-row align-items-center pt-2 p-0">
            <div class="ms-3 pt-3">
                <div class="d-flex align-items-center" style="font-size:11px;">
                    <strong>Hiện không có voucher nào</strong>
                </div>
            </div>
        </div>
    }
    else
    {
        foreach (var v in vouchers)
        {
            <div class="voucher-card d-flex flex-row align-items-center p-2 rounded-3 shadow-sm mb-3">
                <div class="icon-badge bg-img-custom rounded-4 p-1">
                    <img src="/image/Voucher/Voucher-1.png" alt="Voucher" class="img-fluid rounded">
                </div>

                <div class="ms-3 pt-2">
                    <h5 class="fw-semibold text-primary mb-1" style="font-size: 15px;">Giảm @(Math.Round(v.DiscountValue * 100))% trên hóa đơn</h5>
                    <div class="d-flex align-items-center text-muted" style="font-size: 11px;">
                        <i class="bi bi-clock me-1"></i> @DateTime.Now.ToShortDateString() &nbsp; <strong class="text-dark">@v.PointRequired điểm</strong>
                    </div>
                    <p class="expired text-danger fw-semibold mt-1 mb-0" style="font-size: 13px;">Hạn: @v.ExpriationDate.ToShortDateString()</p>
                </div>

                <div class="d-flex flex-row align-items-center ms-auto">
                    <img src="/image/Voucher/award.png" alt="Điểm" class="me-2" style="width: 20px;" />
                    <button @onclick="() => RedeemPointsAsync(v.PointRequired, v.VoucherId,v.ExpriationDate)"
                            class="btn btn-success ms-2 px-3 py-1 rounded-pill"
                            disabled="@(DateTime.Now > v.ExpriationDate)">
                        Đổi
                    </button>
                </div>
            </div>

        }
    }

</div>