@page "/demoIndex"
@using DATN.Client.Service
@inject NavigationManager Navigation
@inject HttpClient httpClient
@inject CartService _cartService
@inject LocalStorageService _localStorageService
@inject IJSRuntime JS


<h3>Thông tin bàn</h3>

@if (table != null)
{
    <h3>Số bàn: @table.TableNumber</h3>
    <h3>Trạng thái: @table.Status</h3>
    <h3>Sức chứa: @table.SeatingCapacity</h3>
    <h3>Vị trí: @table.Position</h3>

    <br/>
    <table class="table table-bordered">
        <thead>
            <tr>
                <td>ID</td>
                <td>Tên</td>
                <td>Giá</td>
            </tr>
        </thead>
        @if(products == null)
        {
            <p>Loading...</p>
        }
        else
        {
            @foreach(var item in products)
            {
                <tbody>
                    <tr>
                        <td>@item.ProductId</td>
                        <td>@item.ProductName</td>
                        <td>@item.Price</td>
                        <button class="btn btn-outline-light" @onclick="() => AddToCart(item)" >Mua</button>
                    </tr>
                </tbody>
            }
        }

    </table>
}
else
{
    <p>Không có số bàn hợp lệ.</p>
}
