@page "/"
@using DATN.Client.Service
@inject HttpClient httpClient
@inject LocalStorageService _localStorageService
@inject NavigationManager Navigation
@inject IJSRuntime JS
@inject CartService _cartService


<div class="container mt-1 foodcustom">
    <section class="iphone-13-mini-2-inner">
        <div class="frame-parent">
            <div class="frame-wrapper">
                <div class="frame-group">
                    <div class="frame-container">
                        <div class="frame-div">
                            <div class="line4-31-group3119-31-iphone13-parent">
                                <div class="line4-31-group3119-31-iphone13"></div>
                                <div class="line5-31-group3119-31-iphone13"></div>
                                <div class="line6-31-group3119-31-iphone13"></div>
                            </div>
                        </div>
                        <h1 class="foodgo">Foodgo</h1>
                        <div class="ellipse4-31-iphone13mini-1-wrapper">
                            <img class="ellipse4-31-iphone13mini-1-icon" loading="lazy" alt="" src="/images/hinhanh/hambuger.png" />
                        </div>
                    </div>
                    <div class="input-group">
                        <span class="input-group-text bg-transparent border-end-0">
                            <i class="bi bi-search"></i>
                        </span>
                        <input type="text" class="form-control border-start-0" placeholder="Tìm kiếm sản phẩm..." @oninput="FilterProducts" />
                    </div>
                </div>
            </div>
            <div class="drink-parent text-center d-flex flex-nowrap justify-content-start justify-content-sm-center">
                @foreach (var c in categories)
                {
                    <div class="drink d-flex justify-content-center align-items-center">
                        <div class="rounded d-flex flex-wrap align-items-center justify-content-center" style="width: 50px; height: 50px; background: #e9d1d1">
                            <i class="bi bi-cup-straw fs-2 text-white"></i>
                        </div>
                        <span class="mt-2 d-block text-dark" style="max-width: 70px;">@c.CategoryName</span>
                    </div>
                }
            </div>
        </div>
    </section>
    <section class="food_section layout_padding-bottom">
        <div class="container foodcustom">
            
            <div class="mb-2 ">
                <div id="carouselFade" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        @if (menus == null)
                        {
                            <p>Loading...</p>
                        }
                        else if (!menus.Any())
                        {
                            <p>Empty</p>
                        }
                        else
                        {
                            @for (int i = 0; i < menus.Count; i += 2)
                            {
                                <div class="carousel-item @((i == 0) ? "active" : "")">
                                    <div class="row">
                                        @for (int j = i; j < i + 2 && j < menus.Count; j++)
                                        {
                                            var colors = new List<string> { "#fff7d9", "#53ccec", "#fff3f1", "#ffecb6", "#e2f1a0", "#c2e0f4,#e9d1d1" };
                                            var random = new Random();
                                            string currentColor = colors[random.Next(colors.Count)];

                                            var menu = menus[j];
                                            <div class="col-6">
                                                <a @onclick="() => LoadCombo(menu.MenuId)" class="card text-center shadow-sm overflow-hidden" style="background: @currentColor; cursor: pointer;">
                                                    <div class="image-container">
                                                        <img src="/images/hinhanh/hambuger.png" class="card-img-top img-fluid" alt="@menu.MenuName">
                                                        <div class="overlay">
                                                            <p class="card-title">@menu.MenuName</p>
                                                            <span class="p-1 text-danger">@menu.PriceCombo.ToString("###,0##")đ</span>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                        }
                                    </div>
                                </div>
                            }
                        }
                    </div>

                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselFade" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>

                    <button class="carousel-control-next" type="button" data-bs-target="#carouselFade" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>

            <div class="heading_container heading_center">
                <h2>
                    Our Menu
                </h2>
            </div>

            <ul class="filters_menu">
                <li class="active" data-filter="*">All</li>
                @if (categories == null)
                {

                }
                else
                {
                    foreach (var c in categories)
                    {
                        <li data-filter=".@c.CategoryId">@c.CategoryName</li>
                    }
                }
            </ul>

            <div class="row mb-2">
                @if (!String.IsNullOrEmpty(ComboName))
                {
                    <div class="col-6 text-start ">
                        @ComboName
                    </div>
                }
                else
                {
                    <div class="col-6 text-start ">
                        Món ăn
                    </div>
                }
            </div>

            <div class="filters-content">
                <div class="row grid">
                    @if (products == null)
                    {
                        <p>Loading...</p>
                    }
                    else
                    {

                        foreach (var p in products)
                        {
                            <div class="col-sm-6 col-lg-4 all @(p.CategoryId)">
                                <div class="box">
                                    <div>
                                        <div class="img-box">
                                            <img src="data:image/png;base64,@Convert.ToBase64String(p.ProductImage)" alt="">
                                        </div>
                                        <div class="detail-box">
                                            <h5>
                                                @p.ProductName
                                            </h5>
                                            <p style="display: @(p.ProductDescripntion == null ? "none" : "block")">@p.ProductDescripntion</p>
                                            <div class="options">
                                                <h6>
                                                    @p.Price.ToString("###,0##")
                                                </h6>
                                                <a @onclick="() => AddToCart(p)" class="nav-link">
                                                    <i class="fas fa-shopping-cart"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }

                </div>
            </div>
        </div>
    </section>
    <nav class="navbar fixed-bottom navbar-light bg-light">
        <div class="container-fluid justify-content-around">
            <a href="#" class="nav-link"><i class="bi bi-house"></i></a>
            <a href="#" class="nav-link"><i class="bi bi-card-list"></i></a>
            <a href="#" class="nav-link"><i class="bi bi-bookmark"></i></a>
            <a href="#" class="nav-link"><i class="bi bi-person"></i></a>
        </div>
    </nav>
</div>