@page "/order-list"
@using DATN.Client.Service
@using DATN.Shared
@layout MainLayout
@inject HttpClient httpClient
@inject CartService _cartService
@inject NavigationManager Navigation
@inject LocalStorageService _localStorageService
@inject IJSRuntime JS

<style>
    body {
        display: flex !important;
        flex-direction: column !important;
        min-height: 100vh !important;
        margin: 0; 
    }
</style>

<section class="iphone-13-mini-2-inner">
    <div class="frame-parent">
        <div class="frame-wrapper">
            <div class="frame-group">
                <div class="frame-container d-flex align-items-center justify-content-between">
                    <a class="nav-link" href="/"><i class="fas fa-arrow-left fs-2"></i></a>
                    <h1 class="foodgo m-0">Foodgo</h1>
                    <div class="ellipse4-31-iphone13mini-1-wrapper">
                        <img class="ellipse4-31-iphone13mini-1-icon" loading="lazy" alt="" src="/images/hinhanh/hambuger.png" />
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<div class="container mt-3 mb-4">
    <h4 style="text-align: center;">Danh sách gọi món</h4>
    @if (Carts == null)
    {
        <p>Loading...</p>
    }
    else
    {
        <ul class="list-group" id="cart-items">
            @if (Carts != null && Carts.Count > 0)
            {
                foreach (var c in Carts)
                {
                    <li class="list-group-item d-flex align-items-center">
                        <img src="data:image/png;base64,@Convert.ToBase64String(c.ProductImage)" alt="@c.ProductName" class="img-thumbnail me-2" style="width: 50px; height: 50px; object-fit: cover;" />
                        <div class="flex-grow-1">
                            <div class="fw-bold">@c.ProductName</div>
                            <div class="text-danger">@c.Price.ToString("N0")đ</div>
                        </div>
                        <div class="quantity-control">
                            <button type="button" class="btn btn-sm m-2" @onclick="() => DecreaseQuantity(c.ProductId)">
                                <span>-</span>
                            </button>
                            <span class="badge bg-primary">@c.Quantity</span>
                            <button type="button" class="btn btn-sm m-2" @onclick="() => IncreaseQuantity(c.ProductId)">
                                <span>+</span>
                            </button>
                        </div>
                        <div class="text-end">
                            <button type="button" class="btn btn-sm btn-danger m-2" @onclick="() => RemoveFromCart(c)">
                                <i class="fa-solid fa-trash"></i>
                            </button>
                        </div>
                    </li>

                }
                <li class="list-group-item">
                    <div class="fw-bold">Ghi chú</div>
                    <textarea rows="2" @bind="ListCartDTO.Note" class="form-control" placeholder="Thêm ghi chú nếu có..."></textarea>
                </li>
            }
            else
            {
                <li class="list-group-item text-center">Không có món ăn</li>
            }
        </ul>
        
    }

    <div class="total-section mt-3" >
        <div class="d-flex justify-content-between">
            <p class="mb-0 fw-bold">Tổng tiền</p>
            <p class="mb-0 text-danger"><strong>@Total.ToString("###,0##") VND</strong></p>
        </div>
        <div class="d-flex justify-content-between mt-2">
            <button type="button" class="btn btn-warning w-100 me-1" data-bs-toggle="modal" data-bs-target="#ConfirmOrderModal">
                Gọi món ăn
            </button>
        </div>
    </div>
</div>


<div class="modal fade" id="ConfirmOrderModal" tabindex="-1" aria-labelledby="confirmOrderModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmOrderModalLabel">Xác nhận đặt món</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Xác nhận đặt món ? Lưu ý đặt xong sẽ không thay đổi được!
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" @onclick="Order">Đặt</button>
            </div>
        </div>
    </div>
</div>

<nav class="navbar fixed-bottom navbar-light bg-light">
    <div class="container-fluid justify-content-around">
        <a href="/" class="nav-link"><i class="bi bi-house"></i></a>
        <a href="/order-list" class="nav-link"><i class="bi bi-card-list" style="color: orange"></i></a>
        <a href="/food-ordered" class="nav-link"><i class="bi bi-bookmark"></i></a>
        <a href="/userinfo" class="nav-link"><i class="bi bi-person"></i></a>
    </div>
</nav>

