@page "/internal/personalinformation"
@layout MainLayout
@inject HttpClient httpClient
@inject LocalStorageService _localStorageService
@inject NavigationManager Navigation
@inject IJSRuntime JS
@inject CartService _cartService
<style>
    .btn-primary-custom {
        background-color: #007bff;
        color: #fff;
        border: none;
    }
</style>

@if (isLoading)
{
    <div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
        <div class="spinner-border text-primary" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
}
else
{
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="d-flex d-inline-block">
                    <div class="align-items-start">
                        <a href="/internal/userinfo" class="link-dark fw-semibold">
                            <i class="bi bi-box-arrow-left" style="font-size: 20px;"></i>
                        </a>
                    </div>
                    <h4 class="text-center mx-auto mb-4 fw-semibold">Thông tin cá nhân</h4>
                </div>

                <EditForm Model="@customer" OnValidSubmit="HandleValidSubmitAsync">
                    <DataAnnotationsValidator />

                    <div class="mb-3">
                        <label class="form-label">Họ Tên</label>
                        <InputText class="form-control" placeholder="Nhập họ tên" @bind-Value="customer.CustomerName" readonly="@(!isEdit)" />
                        <ValidationMessage For="@(() => customer.CustomerName)" class="validation-message" />
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Email</label>
                        <InputText class="form-control" placeholder="Nhập email" @bind-Value="customer.Email" readonly />
                        <ValidationMessage For="@(() => customer.Email)" class="validation-message" />
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Số điện thoại</label>
                        <InputText class="form-control" placeholder="Nhập số điện thoại" @bind-Value="customer.PhoneNumber" min="10" max="12" readonly="@(!isEdit)" />
                        <ValidationMessage For="@(() => customer.PhoneNumber)" class="validation-message" />
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Địa chỉ</label>
                        <InputText class="form-control" placeholder="Nhập địa chỉ" @bind-Value="customer.Address" readonly="@(!isEdit)" />
                        <ValidationMessage For="@(() => customer.Address)" class="validation-message" />
                    </div>

                    <hr class="mt-5" />
                    <div class="d-flex justify-content-center">
                        @if (isEdit)
                        {
                            <button type="submit" class="btn btn-primary-custom" disabled="@isLoading">
                                Xác nhận
                            </button>
                        }
                        else
                        {
                            <button type="button" class="btn btn-primary bg-dark border-dark" @onclick="Edit">Sửa thông tin | <i class="bi bi-pencil-square"></i></button>
                        }
                    </div>
                </EditForm>
            </div>
        </div>
    </div>
}
